<div class="row">
  <div class="col-lg-7">
    <div class="card border shadow-0">
      <div class="m-4">
        <h4 class="card-title mb-3">Daily Promotions</h4>
        <% @products.each do |product| %>
          <%= render "product", product: product %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'cart', locals: { cart: @cart, products: @products } %>
</div>
